<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">

  <p>Olá, {{name}}</p>
  <p>Parece que foi criada uma conta na plataforma do GoFinances.</p>

  <p>Para acessar a plataforma, clique no link abaixo:</p>
  <p><a href="{{url}}">{{url}}</a></p>
  <p>Em seguida entre com: </p>
  <p>Usuario: {{user}}</p>
  <p>Senha: {{password}}</p>
  <p>A senha foi gerada altomaticamente, altere a senha assim que efetuar o login</p>

  <p>
    Obrigado!
    <br />
    <strong>Equipe GoFinances</strong>
  </p>

</div>
